body{
    margin: 0;
    width: 100%;
}

.main{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.leftPart{
    display: flex;
    flex-direction: column;
}
.name{
    padding-left: 30px;
    font-size: 50px;
    margin-bottom: 0;
}
.rightPart{
    /*display: flex;*/
    /*align-items: center;*/
}
.heads{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;

}
.choose{
    padding-left: 40px;
    padding-top: 20px;
}
.description{
    background:linear-gradient(rgba(0, 0, 0, 0.647),rgba(0, 0, 0, 0.5)) , url("https://live.staticflickr.com/7285/8726374156_85a48e2137_b.jpg");
    background-size: cover;
    height: 400px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.about{
    margin-top: 10px;
    font-size: 15px;

}
.mainMenu{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.category{
    width: 150px;
    margin: 20px;
    border: 1px solid whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 5%;
    transition: 1s;
    position: relative;


}
.category:hover{
    background-color: #ff7200;
    /*position: relative;*/
    bottom: 15px;
    box-shadow: rgba(200, 20, 20, 0.4) 0px 7px 29px 0px;
}
.imgg{
    max-width: 100%;
    height: auto;
    width:auto;
    margin-bottom: 10px;
    border-radius: 50%;
    border:3px double lightcyan;
    }
.imgg:hover, .img:hover, .imggD:hover {
    animation:move;
    animation-duration: 3s;
}
@keyframes move{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.img{
     max-width: 100%;
     height: auto;
     width:auto;
     margin-bottom: 10px;

 }
.imggD{
    max-width: 100%;
    max-height: 150px;
    margin-left: 48px;
    height: auto;
    width:auto;
    margin-bottom: 10px;
}
.title{
    text-align: center;
}
.vipechka{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    width: 200px;
}
.partInPart{
}
.text{
    margin: 20px 0px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 24px;
    font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

.priceAndCart{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    flex: 1 1 auto;
    padding-right: 4px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    line-height: 22px;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.toCart{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 9999px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
.partName{
    display: flex;
    justify-content: space-around;
}
.toCart:hover {
    color: white;
    background-color: coral;
}




