body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.z{
    width: 100%;
    height: 600px;
    background-color: #04AA6D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.mainBlock{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    /* height: 400px; */
    background-color: aquamarine;
}

.div1{
    width: 625px;
    /* height: 300px; */
    background-color: aqua;

}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middleDiv{
    width: 100px;
    background-color: blueviolet;
    height: 400px;
}
.div2{
    width: 600px;
    background-color: blue;
    /* height: 300px; */
}
.pp{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product_content{
    display: flex;
    align-items: center;
}
.part{
    display: none;
    border: 2px solid orange;
    border-radius: 50px;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    width: 170px;
    margin: 20px;
}
.manufacture_product{
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.product_name{
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.price_box{
    margin-top: 5px;
    font-size: 18px;
    line-height: 17px;
    font-weight: 480;
    color: black;
}
.partInPart{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.distance{
    margin: 15px;
}

.total{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}