.main{
    display: flex;
    justify-content: start;
}
.header{
    width: 30%;
    margin-left: 7%;
    color: #F2F2F2;
}

.coffeePhoto{
    width: 70%;
    height: 500px;
}
.photo{
    width: 700px;
}