
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.secMain{
    width: 40%;
}
.header{
    display: flex;
    justify-content: center;
    height: 100px;
    color: #000000;
}


.coffeePhoto{
    background-image: url('./img/coffeeBackground (1).jpg');
    background-position: center;
    width: 60%;
    height: 500px;
    border-radius: 2%;
    border-left: 1px solid;
    /*border-bottom-style: solid;*/
}
/* .photo{
    width: 700px;
} */