
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: 100px;
    color: #000000;
}

.coffeePhoto{
    background-image: url('img/photo-1517487881594-2787fef5ebf7.jpg');
    background-position: center;
    width: 70%;
    height: 500px;
}
/* .photo{
    width: 700px;
} */