.description{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.647),rgba(0, 0, 0, 0.5)), url("./img/IMG_3049 (2).png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.price{
    font-size: 17px;
}

.foodsMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Part{
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    box-shadow: aliceblue 3px 3px 3px 3px;
    width: 200px;
}

.choosing{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.name{
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 100px;
    height: 30px;
    border-style: solid;
    border-color: lavender;
    cursor: pointer;
    border-radius: 8px;
    color: black;
}

.name:hover{
    border-color: coral;
}

.samsaSKurPhoto{
    background-size: cover;
}
.photo{
    margin: 10px;
    width: 150px;
    height: 150px;
}

.samsaSKurPhoto:hover{
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes move{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
@keyframes myAnim {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.text{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 480;
}

.priceAndCart{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toCart{
    width: 90px;
    height: 35px;
    color: coral;
    background-color: white;
    border-style: solid;
    border-color: coral;
    border-radius: 8px;
}

.toCart:hover {
    color: white;
    background-color: coral;
}
@media screen and (max-width: 400px){
         .choosing{
             display: flex;
             flex-direction: column;

         }
    .name{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}
